body {
  background-color: #212A2D;
}

#generator {
  margin: 2vh auto;
  width: 50vw;
}

h1 {
  color: white;
}

.pane {
  width: 50vw;
  background-color: white;
  border-radius: 5px;
  margin: 2vw auto;
  padding: 2vh 2vw;
}

.captain {
  font-weight: bold;
}
